<%= form_for(@favarite) do |f| %>
  <% if @favarite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favarite.errors.count, "error") %> prohibited this favarite from being saved:</h2>

      <ul>
      <% @favarite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
