<p id="notice"><%= notice %></p>

<h1>お気に入り</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>タグ</th>
      <th>タイトル</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @favarites.each do |favarite| %>
      <tr>
        <td><%= favarite.report.id %></td>
        <td><%= favarite.report.tag %></td>
        <td><%= link_to favarite.report.title, favarite.report %></td>
        <td><%= link_to '削除', favarite, method: :delete, data: { confirm: 'お気に入りから削除しますか?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="bottom-action">
  <%= link_to '戻る', reports_path, class: "btn btn-default pull-left margin-right-md" %>
</div>
