<div class="row">

  <div class="col-md-6">
    <%= form_for(@report) do |f| %>
      <% if @report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

          <ul>
          <% @report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group form-inline">
        <%= f.label :tag %>
        <%= f.text_field :tag, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.text_field :title, id: "title", class: "form-control", placeholder:"title" %>
      </div>
      <div class="field form-group">
        <%= f.text_area :content, id: "content", class: "form-control", placeholder:"content", rows: 20 %>
      </div>
      <div class="field form-group">
        <%= f.label :user_id %><br>
        <%= f.number_field :user_id, class: "form-control" %>
      </div>
      <div class="actions">
        <%= link_to 'Back', reports_path, class: "btn btn-default" %>
        <%= submit_tag name, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div id="title-view"></div>

    <div id="content-view"></div>
  </div>

</div>