<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Tag</th>
        <th>User</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%= report.tag %></td>
          <td><%= report.user_id %></td>
          <td><%= report.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= report.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to 'Show', report, class: "btn btn-default" %>
            <%= link_to 'Edit', edit_report_path(report), class: "btn btn-default" %>
            <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Report', new_report_path, class: "btn btn-default" %>
