<p id="notice"><%= notice %></p>

<div class="well">
  <span class="font-md margin-right-md">今月の人</span>
  <% @user_with_progress_points.first(3).each_with_index do |pp, i| %>
   <span class="label background-color-grade<%= i + 1 %> font-md margin-right-sm"><%= i + 1 %>位</span>
   <span class="font-lg"  ><%= pp.user_name %></span>
   <span class="badge margin-right-md"><%= pp.progress_points %></span>
  <% end %>
  <%= link_to 'みんなの成長', progresses_path, class: "btn btn-success btn-sm pull-right" %>
</div>

<%= search_form_for @q, :html => {:class => "form-inline"} do |f| %>
  <%= f.text_field :tag_cont, :class => 'form-control', placeholder: 'タグ' %>
  <%= f.text_field :title_cont, :class => 'form-control', placeholder: 'タイトル' %>
	<%= f.collection_select :user_id_eq, User.all, :id, :name, {prompt: 'ユーザー選択'}, class: 'form-control' %>
  <%= f.date_field :updated_at_gteq, :class => 'form-control', :value => 7.day.ago.strftime('%Y-%m-%d') %>
  〜
  <% # http://qiita.com/LuckOfWise/items/e020e896e71d47d0c6a4 %>
  <%= f.date_field :updated_at_lteq_end_of_day, class: 'form-control', :value => 0.day.ago.strftime('%Y-%m-%d') %>
  <%= f.submit '検索', :class => 'btn btn-info pull-right' %>
<% end %>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= sort_link(@q, :progress_points, '成長') %></th>
        <th><%= sort_link(@q, :comment_num, 'コメント') %></th>
        <th><%= sort_link(@q, :tag, 'タグ') %></th>
        <th><%= sort_link(@q, :title, 'タイトル') %></th>
        <!-- <th><%= sort_link(@q, :user_name, '内容(1行目)') %></th> -->
        <th><%= sort_link(@q, :user_name, 'ユーザー') %></th>
        <th><%= sort_link(@q, 'attachments_name', '添付ファイル') %></th>
        <!-- <th>Created at</th> -->
        <th><%= sort_link(@q, :updated_at, '更新日時') %></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.progress_points %></td>
          <td><%= report.comment_num %></td>
          <td><%= report.tag %></td>
          <td><%= link_to report.title, report %></td>
          <!-- <td><%= report.content.split[0] %></td> -->
          <td><%= report.user.name %></td>
          <td>
            <% report.attachments.each { |a| %>
            <%= a.name %><br>
            <% } %>
          </td>
          <!-- <td><%= report.created_at.strftime("%Y/%m/%d %H:%M") %></td> -->
          <td><%= report.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to '作成', new_report_path, class: "btn btn-primary" %>
