<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1>レポート一覧</h1>
  </div>
  <div class="col-md-6">
    <%= link_to '成長グラフ', report_progresses_path, class: "btn btn-success pull-right" %>
  </div>
</div>

<hr>

<%= search_form_for @q, :html => {:class => "form-inline"} do |f| %>
  <%= f.label :tag_cont, 'タグ' %>
  <%= f.text_field :tag_cont, :class => 'form-control' %>
  <%= f.label :title_cont, 'タイトル' %>
  <%= f.text_field :title_cont, :class => 'form-control' %>
  <%= f.label :user_id_eq, 'ユーザー' %>
	<%= f.collection_select :user_id_eq, User.all, :id, :name, {include_blank: true}, class: 'form-control' %>
  <br><br>
  <%= f.label :updated_at, '更新日' %>
  <%= f.date_select :updated_at_gteq, {use_month_numbers: true, default: 7.days.ago}, :class => 'form-control' %>
  〜
  <% # http://qiita.com/LuckOfWise/items/e020e896e71d47d0c6a4 %>
  <%= f.date_select :updated_at_lteq_end_of_day, {use_month_numbers: true}, class: 'form-control' %>
  <%= f.submit '検索', :class => 'btn btn-info pull-right' %>
<% end %>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= sort_link(@q, :progress_points, '成長') %></th>
        <th><%= sort_link(@q, :tag, 'タグ') %></th>
        <th><%= sort_link(@q, :title, 'タイトル') %></th>
        <!-- <th><%= sort_link(@q, :user_name, '内容(1行目)') %></th> -->
        <th><%= sort_link(@q, :user_name, 'ユーザー') %></th>
        <th><%= sort_link(@q, 'attachments_name', '添付ファイル') %></th>
        <!-- <th>Created at</th> -->
        <th><%= sort_link(@q, :updated_at, '更新日時') %></th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td>
            <%= report.progress_points %>
          </td>
          <td><%= report.tag %></td>
          <td><%= report.title %></td>
          <!-- <td><%= report.content.split[0] %></td> -->
          <td><%= report.user.name %></td>
          <td>
            <% report.attachments.each { |a| %>
            <%= a.name %><br>
            <% } %>
          </td>
          <!-- <td><%= report.created_at.strftime("%Y/%m/%d %H:%M") %></td> -->
          <td><%= report.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
						<%= link_to '参照', report, class: "btn btn-default" %>
						<% if report.user_id == current_user.id %> 
							<%= link_to '更新', edit_report_path(report), class: "btn btn-default"  %>
							<%= link_to '削除', report, method: :delete, data: { confirm: '削除しますか?' }, class: "btn btn-default" %>
						<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to '作成', new_report_path, class: "btn btn-primary" %>
