<p id="notice"><%= notice %></p>

<div>
  <span class="label label-default">タグ</span>
  <% @report.tag.split(",").each { |tag| %>
  <%= tag %>
  <% } %>
</div>
<div id="title-view">
  <%= @report.title %>
</div>

<div id="content-view">
  <%= @report.content %>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    ユーザー:
    <%= @report.user.name %>
  </div>

  <div class="col-md-4">
    作成日時:
    <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
  </div>

  <div class="col-md-4">
    更新日時:
    <%= @report.updated_at.strftime("%Y/%m/%d %H:%M") %>
  </div>
</div>
<hr>
<span class="label label-info">コメント</span>
<div id="comments">
  <% @report.comments.each { |c| %>
  <div class="comment">
    <span class="time"><%= c.updated_at.strftime("%Y/%m/%d %H:%M") %></span>
    <br>
    <span class="name"><%= c.user.name %></span>
    <span><%= c.comment %></span>
  </div>
  <% } %>
</div>
<hr>
<%= link_to '戻る', reports_path, class: "btn btn-default pull-left mr5" %>
<% if @report.user_id == current_user.id %> 
	<%= link_to '更新', edit_report_path(@report), class: "btn btn-primary pull-left mr40" %>
<% end %>
<%= link_to '成長したね！', progresses_path( progress: {point:1, report_id:@report.id, user_id:current_user.id} ), method: :post, class: "btn btn-success pull-left" %>
<div class="arrow_box pull-left"><%= @report.progresses.map{|item| item.point}.sum %></div>
