<p id="notice"><%= notice %></p>

<div>
  <span class="label label-default">タグ</span>
  <% @report.tag.split(",").each { |tag| %>
  <%= tag %>
  <% } %>
</div>
<div id="title-view">
  <%= @report.title %>
</div>

<div id="content-view">
  <%= @report.content %>
</div>
<br>
<p>
  <strong>ユーザー:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong>作成日時:</strong>
  <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <strong>更新日時:</strong>
  <%= @report.updated_at.strftime("%Y/%m/%d %H:%M") %>
</p>
<hr>
<%= link_to '戻る', reports_path, class: "btn btn-default pull-left mr5" %>
<%= link_to '更新', edit_report_path(@report), class: "btn btn-primary pull-left mr40" %>
<%= link_to '成長したね！', progress_report_path(@report), method: :post, class: "btn btn-success pull-left" %>
<div class="arrow_box pull-left"><%= @report.progress %></div>
