<p id="notice"><%= notice %></p>

<div>
  <span class="label label-default">Tag</span>
  <% @report.tag.split(",").each { |tag| %>
  <%= tag %>
  <% } %>
</div>

<div id="title-view">
  <%= @report.title %>
</div>

<div id="content-view">
  <%= @report.content %>
</div>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @report.updated_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-default" %>
<%= link_to 'Back', reports_path, class: "btn btn-default" %>
