<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'スライドモード', slide_path, class: "btn btn-info margin-right-md", :target => "_blank" %>
  <% if @report.user_id == current_user.id || @report.collaboration == 1 %>
  <%= link_to '更新', edit_report_path(@report), class: "btn btn-primary margin-right-md"  %>
  <%= link_to '削除', @report, method: :delete, data: { confirm: '削除しますか?' }, class: "btn btn-warning" %>
  <% end %>
</div>

<div class="margin-bottom-sm">
  <span class="label label-default">タグ</span>
  <% @report.tag.split(",").each { |tag| %>
  <%= tag %>
<% } %>
<span>
  <span class="label label-default">ユーザー</span>
  <% unless @report.user.nil? %>
  <%= @report.user.name %>
  <% end %>
</span>
<span>
  <span class="label label-default">作成日時</span>
  <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
</span>
<span>
  <span class="label label-default">更新日時</span>
  <%= @report.updated_at.strftime("%Y/%m/%d %H:%M") %>
</span>
</div>

<div class="content-flex">
  <div class="content-index">
    <div class="content-nav"></div>
  </div>
  <div class="content-body">
      <div id="title-view" class="title-view">
      <%= @report.title %>
      </div>

      <div class="content-view" id="content-view">
          <%= @report.content %>
      </div>

      <div>
      <% if @report.attachments.presence %>
      <% @report.attachments.each do |a| %>
      <span class="nowrap">
        <%= a.name %>
        <%= link_to 'ダウンロード', { action: :download, id: a[:id] }, class: 'btn btn-default btn-xs margin-right-md' %>
      </span>
      <% end %>
      <% end %>
      </div>

      <div class=" background-color-lightgreen padding-sm">
      <span class="label label-success">コメント</span>
      <div class="row">
        <div class="col-md-6 comments">
          <% @report.comments.each do |c| %>
          <div class="comment">
            <span class="time"><%= c.updated_at.strftime("%Y/%m/%d %H:%M") %></span>
            <span class="name"><%= c.user.name %></span>
            <span><%= auto_link(simple_format(h(c.comment))) %></span>
          </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= form_tag('/comments', :method => :post) do %>
          <div class="field form-group">
            <%= text_area :comment, :comment, class: "form-control", placeholder: "コメントする..." %>
            <%= hidden_field :comment, :report_id, value: @report.id %>
            <%= hidden_field :comment, :user_id, value: current_user.id %>
            <%= submit_tag "送信", class: "btn btn-sm btn-default margin-top-sm" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-action">
<%= link_to '戻る', reports_path, class: "btn btn-default pull-left margin-right-md" %>
<% if @report.user_id != current_user.id %>
<%= link_to progresses_path( progress: {point:1, report_id:@report.id, user_id:current_user.id} ), method: :post, class: 'like like-active', title: '「成長したね」と思ったらクリック！' do %>
<i class="fa fa-heart"></i>
<span class="like-count"><%= @report.progresses.map{|item| item.point}.sum %></span>
<% end %>
<% else %>
<div class="like">
  <i class="fa fa-heart"></i>
  <span class="like-count"><%= @report.progresses.map{|item| item.point}.sum %></span>
</div>
<% end %>
<!-- <div class="arrow-box pull-left"><%= @report.progresses.map{|item| item.point}.sum %></div> -->
</div>
